* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main {
  padding-left: 3.5rem;
}
.header-link {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 5rem;
}
/* .signin-button {
  width: 84px;
  height: 40px;
  padding: 0.5rem 1.5rem;
  background: #0015a1;
  border: #0015a1;
  border-radius: 28px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #ffffff;
} */
.create-button {
  width: 126px;
  height: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  color: #101038;
  border: none;
}
.create-button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  left: 188px;
  top: 42px;
  background: #2a46ff;
  border-radius: 1px;
  border: #2a46ff;
  transition: 0.3s;
}
.form-section {
  padding-top: 1.5rem;
  padding-right: 3rem;
  padding-left: 5rem;
  margin-top: 3rem;
}

.form-label {
  margin-bottom: -0.2rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #101038;
}
#password-input {
  font-size: 12px;
  padding-left: 1.5rem;
  height: 40px;
  width: 100%;
  border: 1px solid #2a46ff;
  border-radius: 12px;
  background: #ffffff;
  font-weight: 400;
  line-height: 100%;
}
.signin-button {
  font-size: 13px;
  color: #fff;
  border: 1px solid #0015a1;
  width: 100%;
  height: 40px;
  background: #0015a1;
  border-radius: 12px;
  margin-top: 3rem;
}
#banner-content {
  background: #e7eaff;
  border-radius: 0px 0px 0px 108px;
  padding: 1.5rem 1rem;
  height: 100vh;
}

.login-banner {
  margin-top: 8.5rem;
}
.login-banner h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #2b3674;
}
.login-banner p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #cccde2;
}
.banner-image {
  display: block;
  margin: auto;
  height: 370px;
  width: 446px;
}
/*------------------------------------------------------------
  MEDIA QUERIES
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  #password-input {
    height: 38px;
  }
  #banner-content {
    display: none;
  }
  .form-label {
    margin-bottom: -0.5rem;
  }
  .signin-button {
    height: 38px;
  }
}
@media screen and (min-width: 580px) and (max-width: 669px) {
  .main {
    margin-left: -0.7rem;
  }
  .create-button::after {
    content: "";
    position: absolute;
    left: 175px;
    top: 42px;
  }
}
/*---------------------------------------------------------------------------------------------
    SMALL SCREEN
-------------------------------------------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .main{
    margin-left: -1rem;
  }
  .form-section {
    padding: 0;
    display: block!important;
    margin: auto;
    width: auto;
    padding-top: 1rem;
  }
  .create-button {
    margin-left: -5rem;
  }
  .create-button::after {
    content: "";
    position: absolute;
    left: 92px;
    top: 42px;
  }
  .signin-button {
    margin-top: 1.8rem;
  }
}
@media screen and (max-width: 477px) {
  .form-label {
    font-size: 11px;
  }
  #password-input {
    font-size: 10px;
  }
}
/*----------------------------------------------
LARGE SCREENS
---------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 991px) {
  #banner-content {
    display: none;
  }
  .form-section {
    display: block;
    width: auto;
    margin: auto;
  }
  .form-label {
    margin-bottom: -0.5rem;
  }
  #password-input {
    height: 38px;
  }

  .signin-button {
    height: 38px;
    margin-bottom: 0.8rem;
    margin-top: 3.55rem;
  }
}
@media screen and (max-width: 1326px) {
  .login-banner {
    margin-top: 6.5rem;
  }
  .banner-image {
    height: 280px;
    width: 350px;
    display: block;
    margin: auto;
    position: absolute;
    left: 64%;
  }
}
